<h1>Profil:
    <%= current_user.full_name %></h1>
<p>Email:
    <%= current_user.email %></p>
<p>First Name:
    <%= current_user.first_name %></p>
<p>Last Name:
    <%= current_user.last_name %></p>

<%= link_to 'Düzenle', edit_user_registration_path %>
