<h1>Profilinizi Güncelleyin</h1>

<%= form_for @user, url: users_profile_path, method: :patch do |f| %>
    <div>
        <%= f.label :first_name, "Adınız" %>
        <%= f.text_field :first_name, required: true %>
    </div>

    <div>
        <%= f.label :last_name, "Soyadınız" %>
        <%= f.text_field :last_name, required: true %>
    </div>

    <div>
        <%= f.label :email, "E-posta" %>
        <%= f.email_field :email, required: true %>
    </div>

    <div>
        <%= f.label :password, "Yeni Şifre (Değiştirmek istemiyorsanız boş bırakın)" %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.label :password_confirmation, "Yeni Şifre Tekrarı" %>
        <%= f.password_field :password_confirmation %>
    </div>

    <div>
        <%= f.submit "Güncelle", class: "btn btn-primary" %>
    </div>
<% end %>
