<%= form_with(model: [article, article.comments.build], local: true, url: article_comments_path(article, locale: I18n.locale)) do |form| %>
    <section class="bg-white shadow-lg rounded-lg p-8 mb-8 border border-gray-200">
        <div class="mb-6">
            <%= form.label :commenter, class: "block text-sm font-semibold text-gray-900 mb-2" %>
            <%= form.text_field :commenter, class: "h-12 px-4 border border-gray-300 rounded-lg w-full text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-primary-50 focus:outline-none"  %>
        </div>

        <div class="mb-6">
            <%= form.label :body, class: "block text-sm font-semibold text-gray-900 mb-2" %>
            <%= form.text_area :body, class: "h-32 px-4 border border-gray-300 rounded-lg w-full text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-primary-50 focus:outline-none"  %>
        </div>

        <div>
            <%= form.submit "Add Comment", class: "w-full bg-primary-600 text-white font-semibold py-3 rounded-lg hover:bg-primary-500 focus:outline-none focus:ring-2 focus:ring-primary-50-400 transition duration-200" %>
        </div>
    </section>
<% end %>
