<%= turbo_frame_tag 'modal' do %>
    <%= form_with model: @recommendation, url: article_recommendations_path(@article), method: :post, local: true, class: "space-y-6" do |f| %>
        <%= f.hidden_field :article_id, value: @article.id %>

        <div class="space-y-2">
            <%= f.label :recommended_to, "Kime önerilsin?", class: "block text-sm font-medium text-gray-700" %>
            <%= f.select :recommended_to, 
                         User.where.not(id: current_user.id).map { |user| [user.full_name, user.id] }, 
                         { prompt: "Kullanıcı seçin" }, 
                         class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>

        <div class="flex items-center justify-between pt-4">
            <%= link_to 'İptal',  article_path(@article), data:{turbo: false}, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" %>
            <%= f.submit "Gönder", data:{turbo: false}, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out" %>
        </div>
    <% end %>
<% end %>
