<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for(:title) || "Blog" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= yield :head %>

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/icon.png" type="image/png">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/icon.png">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

        <%= javascript_include_tag "turbo", type: "module" %>
        <%= javascript_importmap_tags %>
    </head>

    <body class=" mb-16">

        <div class="container mx-auto p-2">
            <div class="flex items-center space-x-4 mb-4">
                <%= render 'shared/lang' %>
            </div>
            <%= yield %>
        </div>

    </body>
</html>
